
.wrapper{
    background-color: @city-lights;
}


.titleWrapper{
    width: 100%;
    height: 200px;
    .flex(center, center);
    padding-top: 200px;
    padding-bottom: 200px;

    @media(max-width: 500px){
        flex-direction: column;
        height: 350px;
    }
    
  
     

        h1{
            font-size: 8rem;
            color: @electron-blue;
            padding-left: 3%;
        }

        img{
            border: solid @electron-blue 4px;
            border-radius: 50%;
        }

}

.contentWrapper{
    background-color: @city-lights;
    margin: 0 5% 5%;
    
}

.topContentWrapper{
    display: flex;
    flex-direction: nowrap;
    justify-content: space-between;
    padding-top: 100px;
    @media(max-width: 800px){
        flex-direction: column;
    }
    @media(max-width: 500px){
        margin: 5%;
        text-align: center;
    }
    

       .topLeftContent{
        width: 40%;
        color: @electron-blue;
        text-align: center;
        @media(max-width: 800px){
            width: 100%;
            
        }
        @media(max-width: 500px){
            width: 100%;
            display: flex;
            justify-content: center;
            flex-direction: column;
        }

            h1{
            padding-bottom: 35px;
            font-size: 6rem;
            color: @green-darner-tail;
            }
                p{
                font-size: 3rem;
                line-height: 4rem;
                

                @media(max-width: 500px){
                    padding-bottom: 50px;
                    margin: 5%;
                }
                }
       }
       .topRightContent{
        width: 50%;
        height: 300px;
        display: flex;
        justify-content: flex-start;
        @media(max-width: 800px){
            width: 100%;
            height: auto;
        }
        @media(max-width: 500px){
            width: 0px;
            height: 0px;
        }

            img{
                margin-top: 100px;
                border-radius: 10%;
                border: solid @green-darner-tail 10px;
                @media(max-width: 800px){
                    margin-left: 4.8%;
                    border: solid @green-darner-tail 10px;
                }
                @media(max-width: 500px){
                    display: none;
                }
            }
       }
    
       
}

.login-button{
    .buttonShaper(450px, auto);
    .buttonStyle(10px, @electron-blue, @city-lights);
    .buttonContent(3rem, center, center);
    &:hover{
        background-color: @city-lights;
        color: @electron-blue;
    }
    @media(max-width: 800px){
        .buttonShaper(100%, auto);
    }
    @media(max-width: 500px){
        .buttonShaper(100%, auto);
        
    }
}

.bottomContentWrapper{
    display: flex;
    flex-direction: nowrap;
    justify-content: space-between;
    padding-top: 100px;
    @media(max-width: 500px){
        margin: 5%;
        text-align: center;
    }
    

    

        .bottomLeftContent{
            
                img{
                    border-radius: 50px;
                    border: solid @electron-blue 10px;
                    @media(max-width: 800px){
                        display: none;
                    }
                    @media(max-width: 500px){
                        display: none;
                    }
                }
        }
        
        .bottomRightContent{
            width: 40%;
            color: @electron-blue;
            text-align: center;
            @media(max-width: 800px){
                width: 100%;
                
            }
            @media(max-width: 500px){
                width: 100%;
                
            }

            h1{
                padding-bottom: 35px;
                font-size: 6rem;
                color: @green-darner-tail;     
                }
                    p{
                    font-size: 3rem;
                    line-height: 4rem;        
                    }

        }
}