
.wrapper{
    background-color: @city-lights;
    background-image: url(../img/black-and-white-blur-business-deal-1496186.jpg);
    background-size: cover;
    background-position: top;

}


.titleWrapper{
    width: 100%;
    height: 200px;
    .flex(flex-end, center);
    padding-top: 300px;
    padding-bottom: 200px;
    text-align: center;
    flex-direction: row-reverse;
    @media(max-width: 500px){
        flex-direction: column;
        height: 350px;
        padding-top: 370px;
    }
        h1{
            font-size: 6rem;
            color: @electron-blue;
            background: @city-lights;
            margin-right: 3%;
            text-align: center;
            border-radius: 3%;
            border: solid @electron-blue 4px;
            text-transform: uppercase;
            padding: 4%;
        }
}

// .imgContainer{
//     display: flex;
//     justify-content: flex-end;
//     .adviceFlag{
//         border: solid @electron-blue 4px;
//         border-radius: 50%;
//         @media(max-width: 500px){
//             margin-bottom: 82px;
//         }
//     }
// }

.contentWrapper{
    margin: 0 5% 5%;
    
}

.topContentWrapper{
    display: flex;
    flex-direction: nowrap;
    justify-content: space-between;
    padding-top: 100px;
    @media(max-width: 800px){
        flex-direction: column;
    }
    @media(max-width: 500px){
        margin: 5%;
        text-align: center;
    }
       .topLeftContent{
        width: 45%;
        color: @electron-blue;
        text-align: center;
        background-color: @city-lights;
        border: solid @electron-blue 5px;
        border-radius: 2%;
        height: auto;
        padding: 5px;
        display: flex;
        flex-flow: column;
        align-items: center;
        @media(max-width: 800px){
            width: 100%;
            padding: 2%;
        }
        @media(max-width: 500px){
            width: 100%;
            display: flex;
            justify-content: center;
            flex-direction: column;
            height: auto;
            padding: 3%;
            border-radius: 0;
            
        }

            h1{
            padding-bottom: 35px;
            font-size: 6rem;
            color: @electron-blue;
            }
                p{
                font-size: 3rem;
                line-height: 4rem;
                color: @electron-blue;
                @media(max-width: 500px){
                    padding-bottom: 50px;
                    margin: 5%;
                    }
                }
       }
            button{
                text-align: center;
            }

       .topRightContent{
        width: 50%;
        height: 300px;
        display: flex;
        justify-content: flex-start;
        @media(max-width: 800px){
            width: 100%;
            height: auto;
        }
        @media(max-width: 500px){
            width: 0px;
            height: 0px;
        }
            img{
                margin-top: 100px;
                border-radius: 7%;
                height: 500px;
                border: solid @electron-blue 10px;
                @media(max-width: 800px){
                    display: none;  
                }
                @media(max-width: 500px){
                    display: none;
                }
            }
       }
    
       
}

.login-button{
    .buttonShaper(450px, auto);
    .buttonStyle(10px, @electron-blue, @city-lights);
    .buttonContent(3rem, center, center);
    &:hover{
        background-color: @city-lights;
        color: @electron-blue;
    }
    @media(max-width: 800px){
        .buttonShaper(100%, auto);
        margin-left: 0;
        margin-top: 75px;
    }
    @media(max-width: 500px){
        .buttonShaper(100%, auto);
        
    }
}

.bottomContentWrapper{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding-top: 200px;
    align-items: center;
    @media(max-width: 500px){
        margin: 5%;
        text-align: center;
    }
    

    

        .bottomLeftContent{
            
                img{
                    border-radius: 50px;
                    border: solid @electron-blue 10px;
                    margin-bottom: 200px;
                    @media(max-width: 800px){
                        margin-left: 0%;
                        border: solid @green-darner-tail 10px;
                    }
                    @media(max-width: 500px){
                        display: none;
                    }
                }
        }
        
        .bottomRightContent{
            width: 100%;
            color: @electron-blue;
            text-align: center;
            background: @city-lights;
            padding-bottom: 10px;
            height: auto;
            border: solid @electron-blue 5px;
            padding: 5%;
            
            @media(max-width: 800px){
                width: 100%;  
            }
            @media(max-width: 500px){
                width: 100%;
            }
            h1{
                padding-bottom: 35px;
                font-size: 6rem;
                color: @electron-blue;     
                }
                    p{
                    font-size: 3rem;
                    line-height: 4rem;        
                    }

        }
}