.html, .container1{
    height: auto;
    width: auto;

}
.container1{
    background-image: url(../img/mountians.jpg);
    background-size: cover;
    background-position: center;
}

.content{
    margin-left: 8%;
    margin-right: 8%;
    padding-top: 200px;
    @media(max-width: 500px){
        text-align: center;
        margin-left: 0;
        margin-right: 0;
    }
        .titleContainer{
            width: 100%;
            height: 200px;
            .flex(center, center);
            padding-top: 300px;
            padding-bottom: 200px;
            text-align: center;
                h1{
                    font-size: 6rem;
                    color: @electron-blue;
                    background: @city-lights;
                    text-align: center;
                    border-radius: 3%;
                    border: solid @electron-blue 4px;
                    text-transform: uppercase;
                    padding: 4%;
                    font-weight: 100;
                    @media(max-width: 500px){
                        font-size: 4rem;
                    }
                }
        }
        .kevin{
            h2{
            color: #09528a;
            }
            @media(max-width: 800px){
                padding-bottom: 150px;
            }
            @media(max-width: 500px){
                text-align: center;
                padding-bottom: 150px;
            }
            .LI-row{
                @media(max-width: 500px){
                    display: flex;
                }
            }
            a{
                color: @electron-blue;
            &:hover{
                color: @green-darner-tail;
                font-size: 2.2rem;
            }
                
            }
        }
            h1{
                font-size: 5rem;
                margin-bottom: 200px;
                color: @electron-blue;
                background: @city-lights;
                width: 85%;
                height: auto;
                padding-left: 2%;
                text-align: center;
                @media(max-width: 500px){
                    font-size: 3.5rem;
                    text-align: center;
                    margin-left: 0%;
                    padding-left: 0;
                }

                    strong{
                        text-transform: uppercase;

                    }
            }
            img{
                border: solid @electron-blue 4px;
                border-radius: 50%;
                width: 260px;
                height: 320px;
            }
            h2{
                color: #09528a;
            }
            a{
                font-size: 2rem;
                color: @electron-blue;
                text-decoration: none;
                transition: all 0.5s;
                &:hover{
                    color: @city-lights;
                    font-size: 2.2rem;
                }
            }
            .LI-profile-badge{
                padding-top: 20px;
            }
        .rose{
            display: flex;
            flex-direction: column;
            align-items: flex-end;
                h2{
                    color: #08141d;
                }
            @media(max-width: 800px){
                padding-bottom: 150px;
            }
            @media(max-width: 500px){
                padding-bottom: 150px;
                align-items: center;
            }
        }   
        .justin{
            h2{
                color: #000000;
            }
            @media(max-width: 800px){
                padding-bottom: 150px;
            }
            @media(max-width: 500px){
                padding-bottom: 150px;
                text-align: center;
            }
            
        }
        .juan{
            padding-bottom: 200px;
            display: flex;
            flex-direction: column;
            align-items: flex-end;
            text-align: center;
            h2{
                color: #000000;
            }
            @media(max-width: 800px){
                padding-bottom: 150px;
            }
            @media(max-width: 500px){
                padding-bottom: 150px;
                align-items: center;
            }
        }
}

